@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-brand: #14b8a6;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
}
